/* Make sure the footer stays at the bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #288286;
    margin-top: auto;
    height: 130px;
    display: flex;
    justify-content: center;
    /* Horizontally centers the text */
    align-items: center;
    /* Vertically centers the text */
}

footer {
    background-color: #288286;
    margin-top: auto;
    height: 50px;
}

/* Styling the layout for responsiveness */
#nav {
    background-color: #68CECB;
}

#main {
    background-color: #f8f9fa;
}



#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #288286;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}

#nav li:hover {
    background-color: #f72626;
}



#main,
#nav,
#aside {
    margin-bottom: 50px;
    /* Same height as footer */
}


.container>.card>.card-body {
    background-color: #68CECB;
    /* Your desired background color */
}






#aside {
    background-color: #68CECB;
}

/* Responsive grid for larger screens */
@media (min-width: 992px) {
    #nav {
        width: 20%;
    }

    #main {
        width: 55%;
    }

    #aside {
        width: 25%;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
    }
}

/* Tablet screen adjustments */
@media (min-width: 768px) and (max-width: 991px) {
    #nav {
        width: 25%;
    }

    #main {
        width: 75%;
    }


    .container {
        width: 70%;
    }


    #aside {
        width: 100%;
        margin-top: 15px;
    }
}

/* Mobile adjustments */
@media (max-width: 767px) {

    #nav,
    #main,
    #aside {
        width: 100%;
        margin-top: 15px;
    }
}